#!/usr/bin/env bash
set -euo pipefail

PACKAGE="ble.sh"
STOW_DIR="$HOME/.local/stow"
SRC_DIR="$HOME/.local/stow/src"

# Already installed?
if [[ -f "$STOW_DIR/$PACKAGE/share/blesh/ble.sh" ]]; then
    echo "ble.sh is already installed."
    exit 0
fi

mkdir -p "$SRC_DIR"
mkdir -p "$STOW_DIR"
cd "$SRC_DIR"
# Clone ble.sh if necessary.
if [[ ! -d "$SRC_DIR/ble.sh" ]]; then
    git clone \
        --recursive \
        --depth 1 \
        --shallow-submodules \
        https://github.com/akinomyoga/ble.sh.git

fi


cd "$SRC_DIR"
# Install into the Stow package directory.
make -C ble.sh install PREFIX="$STOW_DIR/$PACKAGE"

# Activate it.
cd "$STOW_DIR"

stow -D "$PACKAGE" 2>/dev/null || true
stow --adopt "$PACKAGE"

echo "ble.sh installed and stowed."
